@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: rgba(255, 255, 255, 0.1);
  }

  body {
    background-color: #0a0a0a;
    color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
